<% @artists.each do |artist| %>
  <p> 
  <%= artist.body %>
  &nbsp;&mdash;&nbsp;
  <%= link_to("edit", edit_artist_path(artist.id)) %>
  -
  <%= link_to("delete", artist_path(artist.id), method: :delete, data: {confirm: "Are you sure you want to delete #{artist.id}?"}) %>
  </p>
<% end %>
