<h1>Homepage</h1>

<h3>Top 10 Billboards</h3>
<table>
  <thead>
    <tr> 
      <td>Title</td>
      <td>Country</td>
    </tr>
  </thead>
  <tbody>
    <%= render("billboards/billboards", billboards: @billboards) %>
  </tbody>
</table>
